__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
build/
dev/
doc/.obsidian
env/
lang/
log/
tmp/
usr/
0.py
1.py
2.py
3.py
4.py
5.py
6.py
7.py
8.py
9.py
Session.vim*

avin/keeper/analytic_scheme.sql

res/cache
res/data
res/download
res/sound
res/voice

