# Distribution / packaging
*.spec
.venv/
arch/
build/
dist/
target/

# Byte-compiled / optimized / DLL files
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/

# tmp files
*.bak
*.tmp
1.*
2.*
3.*
4.*
5.*
Session.vim*
avin/src/bin
dev
log/
tmp/
usr/
